.main{
    background-color: rgb(35, 34, 34);
    padding: 20px;
    width: fit-content;
    text-align:center;
    margin:auto;
    border-radius: 10%;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap:5px;
    column-gap: 5px;
    padding-top: 9px;
}
.row{
    display: flex;
    justify-content: center;
    text-align: center;
    width:40px;
    height: 40px;
    color: white;
    background-color: orange;
    line-height:40px;
    cursor: pointer;
    border-radius: 10%;
}
textarea{
    text-align: right;
}
.equal{
    grid-row: span 2;
    grid-column: 4;
    height: 100%;
}
.zero{
    grid-column: span 2;
    width: 100%;
}
.number{
    background-color: rgb(85, 83, 83);
}
.row:hover{
    background-color: grey;
}
.og:hover{
    background-color: rgb(240, 192, 120);
}